.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form__row {
  display: flex;
  gap: 20px;
}

.contact-form__field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form__field label {
  color: #274C5B;
  font-weight: 600;
}

.ui-textarea {
  min-height: 150px;
  resize: vertical;
}

@media (max-width: 768px) {
  .contact-form__row { flex-direction: column; }
}