.map-container {
  width: 100%;
  height: 450px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 80px;
}

.map-placeholder {
  width: 100%;
  height: 100%;
  background: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274C5B;
  font-weight: 700;
}