.hero {
  background-image: url('/public/photo-22.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; 
  display: flex;
  align-items: center;
  width: 100%;
}

.hero__content {
  max-width: 600px;
  padding-left: 20px;
}


.hero__subtitle {
  display: block;
  color: #7EB12D; 
  font-size: 32px;
  font-family: 'Yellowtail', cursive; 
  margin-bottom: 8px;
}


.hero h1 {
  color: #274C5B; 
  font-size: 56px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero .my-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #EFD372;
  color: #274C5B; 
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero .my-button:hover {
  background-color: #e5c55a;
}

.hero .button-icon {
  width: 18px; 
  height: 18px;
  margin-left: 10px; 
  display: inline-block;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
  .hero {
    height: 450px;
  }
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.catalog__card img {
  width: 100%;
  height: 250px;
  object-fit: contain; 
  background: #F9F8F8;
  border-radius: 20px;
}