.offer-card {
  padding: 100px 50px;
  border-radius: 30px;
  flex: 1;
  background-size: cover;
}
.offer-card.pink { background-image: url('../../assets/offer1.jpg'); color: #fff; }
.offer-card.white { background-image: url('../../assets/offer2.jpg'); color: #274C5B; }
.offer-card__sub { font-family: 'Yellowtail', cursive; font-size: 36px; }
.offer-card__title { font-size: 40px; font-weight: 800; width: 250px; }

@media (max-width: 992px) {
  .offer-card { padding: 50px 30px; }
  .offer-card__title { font-size: 28px; }
}