.product-info { flex: 1; }

.product-info__title {
  color: #274C5B;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.product-info__rating { color: #FFA858; margin-bottom: 10px; }

.product-info__price { display: flex; gap: 10px; align-items: center; margin-bottom: 25px; }

.product-info__desc {
  color: #525C60;
  line-height: 1.6;
  margin-bottom: 35px;
  font-size: 18px;
}

.product-info__action { display: flex; align-items: center; gap: 20px; }

.quantity-input { display: flex; align-items: center; gap: 10px; font-weight: 700; color: #274C5B; }

.quantity-input input {
  width: 100px;
  padding: 15px;
  border: 2px solid #274C5B;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .product-info__title { font-size: 28px; }
  .product-info__action { flex-direction: column; align-items: flex-start; }
}