.cart-total {
  padding: 30px;
  background: #F9F8F8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total__row {
  display: flex;
  justify-content: space-between;
  color: #274C5B;
  font-size: 18px;
  font-weight: 600;
}

.cart-total__row.total {
  font-size: 24px;
  font-weight: 800;
  border-top: 1px solid #E0E0E0;
  padding-top: 20px;
  margin-bottom: 10px;
}