.empty-cart {
  text-align: center;
  padding: 100px 0;
}

.empty-cart h2 { color: #274C5B; font-size: 40px; margin-bottom: 10px; }

.empty-cart p { color: #525C60; font-size: 18px; margin-bottom: 30px; }