.product-card {
  background: #F9F8F8;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.product-card__image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.product-card__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card__name {
  color: #274C5B;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E0E0E0;
  padding-top: 10px;
}

.old-price {
  color: #B8B8B8;
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 8px;
}

.current-price {
  color: #274C5B;
  font-size: 18px;
  font-weight: 700;
}

.product-card__rating {
  color: #FFA858;
}

/* Адаптив */
@media (max-width: 768px) {
  .product-card__image { height: 200px; }
  .product-card__name { font-size: 18px; }
}