.footer {
  padding-top: 100px;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* Баннер подписки */
.subscribe-banner {
  background: url('/public/images/image\ 17.png') no-repeat center;
  background-size: cover;
  padding: 80px 70px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  background-color: orange  ;
}

.subscribe-banner h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  max-width: 400px;
  line-height: 1.1;
}

/* Форма */
.subscribe-form {
  display: flex;
  gap: 10px;
}

.subscribe-form input {
  padding: 24px 30px;
  border-radius: 16px;
  border: none;
  width: 350px;
  font-size: 18px;
}

.btn-dark {
  background: #274C5B; /* Темно-синий из Figma */
  color: #fff;
  padding: 24px 45px;
  border-radius: 16px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}

/* Контент футера */
.footer__content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 50px;
  padding-bottom: 80px;
}

.footer__col h4 {
  color: #274C5B;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

.contact-item {
  margin-bottom: 20px;
}

.contact-item strong {
  display: block;
  color: #274C5B;
  margin-bottom: 5px;
}

/* Логотип в центре */
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.footer__logo span {
  font-size: 35px;
  font-weight: 900;
  color: #274C5B;
}

.footer__motto {
  color: #525C60;
  font-style: italic;
  margin-bottom: 30px;
}

/* Соцсети в кружочках */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-circle {
  width: 50px;
  height: 50px;
  background: #EFF6F1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274C5B;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.social-circle:hover {
  background: #274C5B;
  color: #fff;
}

/* Список страниц */
.footer__utility ul {
  list-style: none;
  padding: 0;
}

.footer__utility li {
  margin-bottom: 15px;
}

.footer__utility a {
  text-decoration: none;
  color: #525C60;
}

.footer__bottom {
  border-top: 1px solid #D4D4D4;
  padding: 25px 0;
  text-align: center;
  color: #525C60;
}