@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Yellowtail&display=swap');

:root {
  --dark-blue: #274C5B;
  --green: #7EB12D;
  --light-grey: #D4D4D4;
  --white: #FFFFFF;
  --bg-grey: #F9F8F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}