.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo-text {
  font-size: 38px;
  font-weight: 700;
  color: var(--dark-blue);
}
@media (max-width: 768px) {
  .logo-text {
    font-size: 24px; /* Уменьшаем текст логотипа */
  }
  .logo img {
    width: 30px; /* Уменьшаем саму иконку */
  }
}